%html
  %head
    %title Homepage
    = render(File.join(__dir__, "/partials/head-shared.haml"))
  %body
    = render(File.join(__dir__, "/partials/nav.haml"))
    = render(File.join(__dir__, "/partials/portrait.haml"))
    %div.main-content
      %header
        %h1 Портфолио
      %section
        %img.avatar{ src: "../images/avatar.jpg", alt: "author's avatar", title: "that's me!" }
        %header
          %h2 Обо мне
        %p
          %i Горбенко Кирилл Николаевич.
          Группа ИС-17-2-о. Исследование возможностей
          языка разметки гипертекстов HTML и каскадных таблиц стилей CSS.
          %strong Вариант № 3.
        %p
          = nonsense_paragraph()
      %section
        %header
          %h2 Следующая глава
        %p
          = nonsense_paragraph()
    = render(File.join(__dir__, "/partials/footer.haml"))
    %script{ src: "../js/index.js" }